<form class="negative-margin mt-lg-5">
    <div class="form-row justify-content-lg-center">
      <div class="form-group text-center col-lg-4 col-sm-5">
        <label for="nombre1">Nombre</label>
        <input type="text" class="form-control" id="nombre1" [(ngModel)]="this.nombre" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-row justify-content-lg-center">
      <div class="form-group text-center col-lg-4 col-sm-5">
        <label for="apellido1">Apellido</label>
        <input type="text" class="form-control" id="apellido1" [(ngModel)]="this.apellido" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-row justify-content-lg-center">
      <div class="form-group text-center col-lg-4 col-sm-5">
        <label for="consulta1">Escriba su consulta</label>
        <textarea rows="8" cols="20" class="form-control" id="consulta1" [(ngModel)]="this.consulta" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="sendEmail()"><a [href]="this.envioMail" class="text-decoration-none color-white">Enviar consulta</a></button>
  </form>