* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Playfair Display', Georgia, serif;
    line-height: 1.2rem;
    margin: 0px;
    padding: 0px;
}

#background-container {
    background-image: url(../assets/images/background1.png);
    background-size: contain no-repeat;
    -moz-border-radius: 0 0 0 60%;
    -webkit-border-radius: 0 0 0 60%;
    border-radius: 0 0 0 60%;
    width: 100%;
    height: 1000px;
}

.logo {
    float: left;
    height: 250px;
    position: absolute;
    margin-left: 3rem;
    margin-top: -30px;
}

.navbar-margin {
    margin-left: 900px;
    margin-top: 0px;
    padding-top: 0px;
}

.nav-item {
    cursor: pointer;
}

button {
    margin-left: 80%;
}




/* Large Devices, Wide Screens */
@media screen and (min-width:1300px) {
    #item1, #item2, #item3 {
        color:transparent;
    }

/* ANIMATIONS */

    #item1 {
        animation-name: item1;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }
    
    @keyframes item1 {
        0% {color: transparent}
        100% {color: black}
    }
    
    #item2 {
        animation-name: item2;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
    }
    
    @keyframes item2 {
        0% {color: transparent;}
        100% {color: black;}
    }
    
    #item3 {
        animation-name: item3;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
    }
    
    @keyframes item3 {
        0% {color: transparent;}
        100% {color: black;}
    }
}
/* Medium Devices, Desktops */ 
@media screen and (max-width:1299px) {
    #background-container {
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .navbar-margin {
        margin-left:500px;
        font-size: medium;
    }
}
/* Small Devices, Tablets */
@media screen and (max-width:768px) {
    .navbar-margin {
        margin-left: 0;
        font-size: medium;
    }
    .nav-item {
        align-self: flex-end;
        padding-top: 0.2rem;
        padding: 0rem 1.5rem;
        margin-top: 15px;
        background-color: #fc60ae;
        border-radius: 0 0 50% 50%;
    }
    .logo {
        height: 180px;
        margin-left: 2rem;
    }
    button {
        margin-left: 85%;
    }
    .navbar-nav {
        margin-top: 50px;
    }
}
/* Extra Small Devices, Phones */
@media screen and (max-width:480px) {
    .logo {
        height: 100px;
        margin-left: 1rem;
        margin-top: -20px;
    }
    
    .navbar-margin {
        margin-top: -20px;
        margin-left: 0;
        font-size: small;
    }

    .nav-item {
        align-self: flex-end;
        padding-top: 0.2rem;
        padding: 0rem 0.7rem;
        background-color: #fc60ae;
        border-radius: 0 0 50% 50%;
    }
}

