<img src="../assets/images/logo-vittonails-final.svg" class="logo" alt="logo">
<div id="background-container">

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent container-fluid clearfix">
      <button class="navbar-toggler bg-light mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
      <div class="collapse navbar-collapse navbar-margin" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active p-lg-2 li-width" id="item1">
            <a class="nav-link text-reset p-lg-3">MANICURA Y PEDICURA <span class="sr-only">(current)</span></a>
          </li>
          <li class="left nav-item active p-lg-2 li-width" id="item2">
            <a class="nav-link text-reset p-lg-3">
              QUIENES SOMOS
            </a>
          </li>
          <li class="left nav-item active p-lg-2 li-width" id="item3">
              <a class="nav-link text-reset p-lg-3">CONTACTO</a>
          </li>
          </ul>
      </div>
    </nav>

</div>


<div class="container bg-transparent mt-lg-5 pt-lg-5 negative-margin">
  <div class="row mt-lg-5 pt-lg-5">
    <div class="col-lg-4 col-sm-12">
      <img src="../assets/images/mani.jpg" alt="mani" class="circular-images">
      <h3 class="mt-5 text-center"><b>MANI</b></h3>
    </div>
    <div class="col-lg-4 col-sm-12">
      <img src="../assets/images/pedi.jpg" alt="pedi" class="circular-images">
      <h3 class="mt-5 text-center"><b>PEDI</b></h3>
    </div>
    <div class="col-lg-4 col-sm-12">
      <img src="../assets/images/mani-pedi.JPEG" alt="mani-pedi" class="circular-images">
      <h3 class="mt-5 text-center"><b>MANIPEDI</b></h3>
    </div>
  </div>
</div>

<div class="container bg-transparent opiniones-container">
  <div class="text-center"><h2 class="opiniones"><b>Opiniones de nuestras clientas</b></h2></div>
  <div class="row mt-5 pt-5 justify-content-center">
    <div class="col-lg-3 col-sm-12 text-center">imagen1</div>
    <div class="col-lg-3 col-sm-12 text-center">imagen2</div>
    <div class="col-lg-3 col-sm-12 text-center">imagen3</div>
    <div class="col-lg-3 col-sm-12 text-center">imagen4</div>
  </div>
</div>


<div id="second-background-container">
  <div class="info-container">
    <div class="info"><h6>MANICURA A DOMICILIO BARCELONA</h6></div>
    <div class="info">
      <h1><b>Vienes o vamos a tu casa o dónde quieras de lunes a sabado de 9h a 20h.</b></h1>
    </div>
    <div class="info"><p>Con los servicios de manicura a domicilio de Vitto Nails, ya no tienes que preocuparte de salir de la ofi y correr para llegar a la hora al salón, pensar dónde puedes dejar a tus hijos o simplemente la pereza de moverte del sofá.</p></div>
    <div id="btn-reservar-cita" class="text-center">¡QUIERO RESERVAR CITA!</div>
  </div>
</div>


  <img src="../assets/images/logo-vittonails-final.svg" alt="vittonails-logo" id="logo-midpage">
