<div class="container negative-margin mt-lg-5" id="background-quienessomos">
    <p class="text-center m-lg-5 p-lg-5 m-sm-1 p-sm-3">
        Empecé trabajando en un centro de Argentina haciendo manicuras básicas y semipermanentes. Cuando venía una clienta y quería un diseño yo me arriesgaba, aunque no lo sabía hacer muy bien, lo hacía por practicar. De a poco empecé a coger más maña y todo vino solo. Después, cambié a otro centro dónde era más común los pedidos de decoraciones y diseños complejos.
        <br> <br>
        Con el correr del tiempo, fue así como el primero de febrero de 2020 me encontraba en España comenzando una nueva vida. No estaba segura si iba a tener éxito ya que debía comenzar de cero otra vez y sin conocer a nadie. En este momento fue cuando vi la oportunidad de comenzar este emprendimiento por mi cuenta. Pude darme cuenta del talento y la experiencia que tenía en el rubro y no deje pasar la oportunidad.
        <br> <br>
        Comencé haciendo manicura y pedicura a domicilio sin esperar mucho.. pero fue entonces cuando todo comenzó a crecer.
        <br> <br>
        Es al día de hoy que estoy más que agradecida con la oportunidad que me dieron y me siguen dando mis clientas ya que siguen confiando y apostando por mi.
        <br> <br>
        Lo mejor de mi trabajo son mis clientas ya que cada una de ellas tiene su historia y su carisma único que hacen mi dia mejor.
        <br> <br>
        Mi nombre es Evelyn y espero poder conocerte pronto ya sea en mi casa o en la tuya!
    </p>
</div>