.title {
    font-style: italic;
    font-weight: 350;
    line-height: 50px;
    font-size: 65px;
    letter-spacing: -0.04em;
    line-height: 1.8em;
    text-rendering: optimizeLegibility !important;
}

.change-color {
    color: wheat;
}

.change-color-dark {
    color: #cec69bd7;
}

.tienes-dudas-container {
    background-color: #c92d8d;
    padding:5rem 0px;
    margin: 4rem 0px;
}

img {
    object-fit: cover;
    height: 220px;
}

#whatsapp-logo {
    cursor: pointer;
    width: 258px;
    height: 73px;
    object-fit: contain;
}

@media only screen and (max-width:769px) {
    .tienes-dudas-container {
        margin-top: -30rem;
    }
}