<div class="container bg-transparent mt-lg-5 pt-lg-5 negative-margin">
    <div class="row mt-lg-5 pt-lg-5">
      <div class="col-lg-4 col-sm-12 pointer" [routerLink]="['/mani']">
        <img src="../assets/images/mani.jpg" alt="mani" class="circular-images">
        <h3 class="mt-5 text-center"><b>MANI</b></h3>
      </div>
      <div class="col-lg-4 col-sm-12 pointer" [routerLink]="['/pedi']">
        <img src="../assets/images/pedi.jpg" alt="pedi" class="circular-images">
        <h3 class="mt-5 text-center"><b>PEDI</b></h3>
      </div>
      <div class="col-lg-4 col-sm-12 pointer" [routerLink]="['/manipedi']">
        <img src="../assets/images/mani-pedi.JPEG" alt="mani-pedi" class="circular-images">
        <h3 class="mt-5 text-center"><b>MANIPEDI</b></h3>
      </div>
    </div>
  </div>
  
  <div class="container bg-transparent opiniones-container1">
    <div class="text-center mb-lg-5"><h1 class="opiniones-title"><b>Opiniones de nuestras clientas</b></h1></div>
      <div class="row text-center my-2 opiniones-container2"><img src="../assets/images/opinion1.jpg" alt="imagen1" class="opiniones"></div>
      <div class="row text-center my-2 opiniones-container2"><img src="../assets/images/opinion6.jpg" alt="imagen2" class="opiniones"></div>
      <div class="row text-center my-2 opiniones-container2"><img src="../assets/images/opinion5.jpg" alt="imagen3" class="opiniones"></div>
      <div class="row text-center my-2 opiniones-container2"><img src="../assets/images/opinion3.jpg" alt="imagen4" class="opiniones"></div>
      <div class="row text-center my-2 opiniones-container2"><img src="../assets/images/opinion2.jpg" alt="imagen5" class="opiniones"></div>
      <div class="row text-center my-2 opiniones-container2"><img src="../assets/images/opinion4.jpg" alt="imagen6" class="opiniones"></div>
  </div>
  
  
  <div id="second-background-container">
    <div class="info-container">
      <div class="info"><h6>MANICURA A DOMICILIO BARCELONA</h6></div>
      <div class="info">
        <h1 class="change-title"><b>Vienes o vamos a tu casa o dónde quieras de lunes a sabado de 9h a 20h.</b></h1>
      </div>
      <div class="info"><p>Con los servicios a domicilio de Vitto Nails, ya no tienes que preocuparte de salir de la ofi y correr para llegar a la hora al salón, pensar dónde puedes dejar a tus hijos o simplemente la pereza de moverte del sofá. Y pués, si no quieres, puedes venir a relajarte en mi domicilio.</p></div>
      <a href="https://api.whatsapp.com/send?phone=34656986179&text=Hola!%20Te%20quer%C3%ADa%20consultar%20por%20el%20servicio%20de%20u%C3%B1as..."> 
        <div id="btn-reservar-cita" class="text-center">¡QUIERO RESERVAR CITA!</div>
      </a>
    </div>
  </div>
  
    <div id="container-fluid bg-transparent">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-4 col-sm-0"><img src="../assets/images/color-splash.png" alt="body-image" id="color-splash" class="center-block"></div>
        <div class="col-lg-6 col-sm-12 pt-2">
          <div class="row justify-content-center justify-content-lg-start"><h2 class="mt-lg-5 donde-llegamos"><b>¿Dónde llegamos?</b></h2></div>
          <div class="row justify-content-center justify-content-lg-start">
            <ul class="list">
              <li class="donde-llegamos-lis">Barcelona</li>
              <li class="donde-llegamos-lis">Badalona</li>
              <li class="donde-llegamos-lis">Hospitalet</li>
            </ul>
          </div>
      
        </div>
      </div>
    </div>
  
    <div class="container-fluid tienes-dudas-container text-center">
      <h2 id="tienes-dudas-title">Selecciona el servicio de manicura que necesites. ¿Tienes dudas? <span class="change-color">Habla con nosotras, te ayudaremos</span></h2>
    </div>
  
    <div class="row justify-content-center">
      <a href="https://api.whatsapp.com/send?phone=34656986179&text=Hola!%20Te%20quer%C3%ADa%20consultar%20por%20el%20servicio%20de%20u%C3%B1as...">
        <img src="../assets/images/whatsapp-manicura-a-domicilio.png" alt="whatsapp-logo" id="whatsapp-logo" class="my-5">
      </a>
    </div>
