<div class="container-fluid text-center tienes-dudas-container">
  <h1 class="title">Escoge el tipo de <span class="change-color">manicura</span></h1>
</div>

<div class="container">
  <div class="card-deck justify-content-around">
      <div class="card">
        <img src="../../assets/images/pedi.jpg" class="card-img-top" alt="imagen1">
        <div class="card-body">
          <h5 class="card-title change-color-dark font-weight-bold">Pedicura tradicional completa</h5>
          <p class="card-text">Corte y limado de uñas, tratamiento de cutículas y durezas, exfoliación, hidratación, esmalteado normal.</p>
        </div>
        <div class="card-footer">
          <small class="font-weight-bold">12 €</small>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/pedicura2.jpg" class="card-img-top" alt="imagen2">
        <div class="card-body">
          <h5 class="card-title change-color-dark font-weight-bold">Pedicura semi permanente completa</h5>
          <p class="card-text">Corte y limado, exfoliación, tratamiento cutículas, tratamiento de durezas, esmaltado semipermanente.</p>
        </div>
        <div class="card-footer">
          <small class="font-weight-bold">15 €</small>
        </div>
      </div>
    </div>
</div>

<div class="row py-3 mt-lg-5"><h1 class="p-3" id="adicionales-title">Adicionales</h1></div>
<div class="container">
<div class="row p-3">
  <div class="col-lg-3 col-sm-12 text-center py-4"><h5 class="adicionales-h5 p-3">Decoración <span class="color-precio">+ 2€</span></h5></div>
  <div class="col-lg-3 col-sm-12 text-center py-4"><h5 class="adicionales-h5 p-3">A domicilio <span class="color-precio">+ 3€</span></h5></div>
  <div class="col-lg-3 col-sm-12 text-center py-4"><h5 class="adicionales-h5 p-3">Retiro semi <span class="color-precio">+ 3€</span></h5></div>
  <div class="col-lg-3 col-sm-12 text-center py-4"><h5 class="adicionales-h5 p-3">Retiro esculpidas <span class="color-precio">+ 5€</span></h5></div>
</div>
</div>

<div class="row justify-content-center mt-5">
  <a class="my-5" href="https://api.whatsapp.com/send?phone=34656986179&text=Hola!%20Te%20quer%C3%ADa%20consultar%20por%20el%20servicio%20de%20u%C3%B1as...">
<img src="../assets/images/whatsapp-manicura-a-domicilio.png" alt="whatsapp-logo" id="whatsapp-logo">
</a>
</div>