<div class="container-fluid text-center tienes-dudas-container">
  <h1 class="title">Escoge el tipo de <span class="change-color">manicura</span></h1>
</div>

<div class="container">
  <div class="card-deck">
      <div class="card">
        <img src="../../assets/images/manipedi0.jpg" class="card-img-top" alt="imagen1">
        <div class="card-body">
          <h5 class="card-title change-color-dark font-weight-bold">Manipedi clásica</h5>
          <p class="card-text">Cortar, limar y aplicación de esmalte normal.</p>
        </div>
        <div class="card-footer">
          <small class="font-weight-bold">18 €</small>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/manipedi1.jpg" class="card-img-top" alt="imagen2">
        <div class="card-body">
          <h5 class="card-title change-color-dark font-weight-bold">Manipedi semi permanente completa</h5>
          <p class="card-text">Limado y cortado de tus uñas, tratamiento cutículas, color semi permanente.</p>
        </div>
        <div class="card-footer">
          <small class="font-weight-bold">20 €</small>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/manipedi2.jpg" class="card-img-top" alt="imagen3">
        <div class="card-body">
          <h5 class="card-title change-color-dark font-weight-bold">Esculpidas en gel, pedi semi permanente</h5>
          <p class="card-text">Limado y cortado de tus uñas, tratamiento cutículas, extensión de uñas en manos, color semi permanente.</p>
        </div>
        <div class="card-footer">
          <small class="font-weight-bold">27 €</small>
        </div>
      </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
  <a href="https://api.whatsapp.com/send?phone=34656986179&text=Hola!%20Te%20quer%C3%ADa%20consultar%20por%20el%20servicio%20de%20u%C3%B1as...">
<img src="../assets/images/whatsapp-manicura-a-domicilio.png" alt="whatsapp-logo" id="whatsapp-logo" class="my-5">
</a>
</div>